@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

#root {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-bg-primary);
  color: var(--color-primary);
}

/* Base slider track */
.range-slider {
  width: 100%;
  height: 0.75rem;
  border-radius: 9999px; /* rounded-full */
  background-color: var(--color-bg-secondary);
  -webkit-appearance: none; /* appearance-none */
  appearance: none;
}

/* WebKit thumb */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  margin-top: -0.25rem;
  border-radius: 9999px; /* rounded-full */
  background-color: var(--color-primary);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1); /* shadow */
  cursor: pointer;
}

/* WebKit track */
.range-slider::-webkit-slider-runnable-track {
  height: 0.75rem;
  border-radius: 9999px; /* rounded-full */
  background-color: var(--color-bg-secondary);
}
