@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 13px;

  --color-primary: #1c41e6;
  --color-secondary: #161630;
  --color-accent: #33a7e9;

  --color-text-primary: #161630;
  --color-text-muted-primary: #434363;

  --color-bg-primary: #fcfdff;
  --color-bg-secondary: #eaedf5;

  color-scheme: light;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 600;
  color: var(--color-text-primary);
  text-decoration: none;
  position: relative;
}
a.active {
  text-decoration: underline var(--color-primary) 2px;
  text-underline-offset: 6px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  font-weight: 800;
  line-height: 1.1;
  color: var(--color-text-primary);
}

h2 {
  font-size: 2em;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 10px;
  color: var(--color-secondary);
}

p {
  font-size: 1.1em;
  font-weight: 400;
  color: var(--color-text-primary);
}

span {
  font-weight: 300;
  color: var(--color-text-muted-primary);
}

button,
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1.5px solid transparent;
  padding: 0.6em 1.4em;
  margin: 1.5em 0.1em;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.2s;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-bg-primary);
}
.btn-primary:hover {
  background-color: var(--color-secondary);
}

.btn-primary-light {
  background-color: var(--color-secondary);
  color: var(--color-bg-primary);
}
.btn-primary-light:hover {
  background-color: var(--color-accent);
}

.btn-secondary {
  border: 1.5px solid var(--color-primary);
  color: var(--color-primary);
}
.btn-secondary:hover {
  background-color: color-mix(in srgb, var(--color-primary) 20%, transparent);
}

.btn-secondary-light {
  border: 1.5px solid var(--color-bg-primary);
  color: var(--color-bg-primary);
}
.btn-secondary-light:hover {
  background-color: color-mix(in srgb, var(--color-accent) 40%, transparent);
}
